@inherits LayoutComponentBase

<PageTitle>ShoppingListApp</PageTitle>

<div class="page">
    <div class="top-row">
        <NavMenu />
    </div>
    <main class="container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
